<footer class="has-adv">
	<div class="column single-measure footer-left">
			<p>&copy; <time datetime="{{date format="YYYY"}}">{{date format="YYYY"}}</time> <a href="{{@blog.url}}">{{@blog.title}}</a>.</p>
			<ul>
        {{navigation}}
			</ul>

			<ul class="footer-socials">
        <li><a class="img-replace facebook" href="{{facebook_url @blog.facebook}}">Facebook</a></li>
				<li><a class="img-replace twitter" href="{{twitter_url @blog.twitter}}">Twitter</a></li>
				<li><a class="img-replace rss" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">RSS</a></li>
			</ul>
	</div>
</footer>
